:export {
    simple-hash: #f00;
    extended-hash: #ff0000;
    extended_hash_black: #000000;
    extended_hash_blue: #0000ff;
    extended_hash_green: #008000;
    hsl_green: hsl(120, 100%, 25%);
    hsl: hsl(0, 100%, 50%);
    rgb: rgb(255, 0, 0);
    rgba: rgba(255, 0, 0, 1);
};

